*{
margin:0px;
padding:0px;
}
body{
font: 12px tahoma,ו;
text-align:center;
margin-left:0;
margin-top:0px;
background-color:#EFF3E7;
color:#000;
background-image:url('./bodybg.gif');
background-repeat:no-repeat;
}
a:link,a:visited{
text-decoration: none;
color:#003063;
}
a:hover{
text-decoration: none;
color:#FF0000;
}
td{font: 12px tahoma,ו}
#holder{
margin:0px auto;
width:764px;
background-image:url('./mainbg.gif');
background-repeat:repeat-y;
background-position:1px!important;
background-position:3px;
}
#blog_name{
padding-left:10px;
padding-bottom:6px; 
text-align:left;
width:760px;
padding-top:6px;
background-color:#EFF3E7;
}
#blog_nav{
text-align:left;
width:760px;
height:41px;
background-image:url('./navbg.gif');
background-repeat:no-repeat;
background-position:bottom;
background-color:#EFF3E7;
}
#blog_main{
text-align:center;
width:758px;
}
#blog_left{
float:left;
width:240px;
text-align:center;
padding-left:14px!important;
padding-left:6px;
}
#blog_right{
float:right;
width:500px;
text-align:left;
}
#LoginForm_title{
text-align:left;
background-color:#A26187;
border:0px solid #AAA;
padding-left:6px;
padding-bottom:2px;
padding-top:2px;
margin-bottom:12px;
color:#FFF;
font-weight:bold;
clear:both;
}
#LoginForm_div{
width:90%;
border:1px solid #6B3C5B;
margin-bottom:4px;
clear:both;
background-image:url('./background.gif')
}
#blog_Calendar{
width:90%;
border:1px solid #434900;
margin-bottom:4px;
clear:both;
padding-bottom:6px;
}
#blog_Calendar_t{
background-color:#818C00;
background-image:url('./leftbg.gif');
background-repeat:no-repeat;
color:#FFF;
font-weight:bold;
text-align:left;
padding-left:32px;
}
#blog_Search{
width:90%;
border:1px solid #434900;
margin-bottom:4px;
clear:both;
padding-bottom:6px;
background-image:url('./background.gif');
}
#blog_Search_t{
background-color:#818C00;
background-image:url('./leftbg.gif');
background-repeat:no-repeat;
color:#FFF;
font-weight:bold;
text-align:left;
padding-left:32px;
}
#blog_ReplyIndex{
width:90%;
border:1px solid #434900;
margin-bottom:4px;
clear:both;
padding-bottom:6px;
background-image:url('./background.gif')
}
#blog_ReplyIndex_t{
background-color:#818C00;
background-image:url('./leftbg.gif');
background-repeat:no-repeat;
color:#FFF;
font-weight:bold;
text-align:left;
padding-left:32px;
}
#blog_ReplyIndex_c{
text-align:left;
padding:6px;
}
#blog_Support{
width:90%;
border:1px solid #434900;
margin-bottom:4px;
clear:both;
padding-bottom:6px;
background-image:url('./background.gif')
}
#blog_Support_t{
background-color:#818C00;
background-image:url('./leftbg.gif');
background-repeat:no-repeat;
color:#FFF;
font-weight:bold;
text-align:left;
padding-left:32px;
}
#blog_Support_c{
margin-top:6px;
}
#blog_Status{
width:90%;
border:1px solid #434900;
margin-bottom:4px;
clear:both;
padding-bottom:6px;
background-image:url('./background.gif');
}
#blog_Status_t{
background-color:#818C00;
background-image:url('./leftbg.gif');
background-repeat:no-repeat;
color:#FFF;
font-weight:bold;
text-align:left;
padding-left:32px;
}
#blog_Status_c{
text-align:left;
padding-left:55px;
}
#blog_alllog{
float:left;
cursor:hand;
width:88px;
margin-left:132px!important;
margin-left:65px;
padding-top:5px;
text-align:center;
background-image:url('./alllog.gif');
background-repeat:no-repeat;
height:21px;
}
#blog_manager{
float:left;
cursor:hand;
width:58px;
margin-left:0px;
margin-top:5px;
text-align:center;
background-image:url('./manager.gif');
height:16px;
}
#blog_clear{
clear:both;
height:2px;
width:758px;
}
#blog_copyright{
width:760;
background-image:url('./bottombg.gif');
background-repeat:no-repeat;
background-position:top 3px;
background-color:#EFF3E7;
height:48px;
margin:0px auto;
clear:both;
}
.blog_navbtns{
float:left;
cursor:hand;
width:58px;
margin-left:0px;
margin-top:5px;
text-align:center;
background-image:url('./class.gif');
height:16px;
}
.Controlbtns{
float:left;
width:50%;
cursor:hand;
margin-bottom:6px;
}
.button{
margin-top:4px;
}
.underline{
border-left:0px;
border-top:0px;
border-right:0px;
border-bottom:1px solid;
font:9pt tahoma,ו;
}
.replytable{
width:455px;
height:24px;
background-image:url('./talk.gif');
background-repeat:no-repeat;
background-color:#EFF3E7;
background-position:5px;
padding-left:34px;
padding-top:4px;
border-bottom:1px solid #AAA;
}
.replytd{
width:455px;
text-align:left
padding:6px;
margin-top:10px;
margin-left:15px;
background-color:#EFF3E7;
word-warp:break-word;
word-break:break-all;
}
.replytdcontrol{
width:80px;
margin-left:14px;
}
.textbox{
border:1px #000000 solid;
background-color:#EFF3E7;
font:12px tahoma;
}
.blog_title{
text-align:left;
background-image:url('./log.gif');
background-repeat:no-repeat;
background-position-x:3px;
background-position-y:center;
background-color:#EFF3E7;
height:20px;
padding-left:26px;
padding-top:4px;
margin-top:4px;
border:1px solid #000;
width:455px;
}
.blog_class{
font-weight:bold;
background-color:#DDD;
padding:2px;
}
.blog_topic{
padding:2px;
}
.blog_loginfo{
font-size:9px;
}
.blog_content{
text-align:left;
padding:6px;
word-warp:break-word;
word-break:break-all;
}
.button{
height:17px;
border:0px;
font:12px tahoma;
}
.clearline{
clear:both;
width:100%;
height:1px;
}
.OnTop_title{
text-align:left;
background-image:url('./log.gif');
background-repeat:no-repeat;
background-position-x:3px;
background-position-y:center;
background-color:#EFF3E7;
height:20px;
padding-left:26px;
padding-top:4px;
margin-top:4px;
border:1px solid #000;
width:455px;
}
.OnTop_content{
text-align:left;
padding:6px;
word-warp:break-word;
word-break:break-all;
}
.code{
border:1px dotted #AAA;
width:90%;
margin-left:14px;
}